*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f2e2e;
    flex-direction: column;
}

.logo{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

}
.logo > span{
    color: #ff6b6b;
}
.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.formWrapper > button{
    margin-left:5px;
}

.login-btn
{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #ff6b6b;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.login-btn:hover{
    background-color: #ff4d4d;
}

footer{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align:center;
    padding:10px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;

}

footer > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > ul li {
    margin-right: 10px;
}

footer > ul li a {
    text-decoration: none;
    color: #ccc2c2;
}
footer > ul li a:hover {
    color: #ff6b6b;
}

footer > ul li:not(:last-child) a::after {
    content: "•";
    margin-left: 5px;
    color: #ff6b6b;
}


.uploadForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}