<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ImgHost - Admin Page</title>
    <link type="text/css" rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1 class="logo"><span>Img</span>Host</h1>
    </header>
    <main>
        <h1>Create <span>invite</span></h1>
        <form>
            <input type="text" id="invite" name="invite" placeholder="Enter id">
            <button class="login-btn" type="submit" role="button" >Create</button>
        </form>
    </main>
    <footer>
        <ul>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="https://github.com/Grewather">Source</a></li>
            <li><a href="/api/auth/discord/logout" >Logout</a></li>
        </ul>
    </footer>
</body>
</html>