<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link type="text/css" rel="stylesheet"  href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <title>ImgHost</title>
</head>
<body>
<main>
    <h1 class="logo"><span>Img</span>Host</h1>

    <form action="http://localhost:3000/api/auth/discord/login" >
        <button class="login-btn" type="submit" role="button" >Login with discord</button>
    </form>
</main>

</body>
</html>