<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMGHOST - UPLOAD </title>
    <link type="text/css" rel="stylesheet" href="/static/index.css">
</head>
<body>
<main>

    <h1 class="logo"><span>Img</span>Host</h1>

    <form action="/api/upload" method="post" enctype="multipart/form-data" target="_blank">
        <div class="formWrapper">
            <label for="file-upload" class="login-btn">
                Choose File
            </label>
            <button class="login-btn" type="submit"><div class="arrow-right"></div></button>
            <input id="file-upload" type="file" style="display: none" name="file">
            <input type="hidden" name="source" value="web">

        </div>

    </form>



</main>
<footer>
    <ul>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="https://github.com/Grewather">Source</a></li>
        <li><a href="/api/auth/discord/logout" >Logout</a></li>
    </ul>
</footer>
<script>

</script>
</body>
</html>
